*.class
/home/hamstermech/javaComAmor/LivroDeitel/ExerciciosLivro/Chap15/TelephoneNumberWordAnyLength/
/home/hamstermech/javaComAmor/LivroDeitel/ExerciciosLivro/Chap15/GfG.java
/home/hamstermech/javaComAmor/LivroDeitel/ExerciciosLivro/Chap15/GfG.class

