*.class
/home/hamstermech/javaComAmor/DeitelBook/BookExercises/Chap15/TelephoneNumberWordAnyLength/
/home/hamstermech/javaComAmor/DeitelBook/BookExercises/Chap18/EightQueens/BackToBack.java
/home/hamstermech/javaComAmor/DeitelBook/JavaGUI

